* {
    box-sizing: border-box;
}

.img1 {
    width: 29%;
    /* height: 75%; */
    margin-right: 15px;
    margin-top: 10px;
    float: left;
    border: 3px solid white;
}

.img2 {
    width: 29%;
    /* height: 75%; */
    margin-right: 15px;
    margin-top: 10px;
    float: left;
    border: 3px solid white;
}

.img3 {
   
   width: 40%;
    display: block;
    margin:40px auto;
}

.added {
    z-index: 1;
    position: absolute;
    
    top: 10%;
    
}
.add{
    width: 100%;
}
.row1 {
    display: block;
    margin: auto;
}

.row2 {

    display: block;
    margin: auto;
}

.con {
    display: block;
    width: 100%;
    margin: 60px auto;
    padding: 25px 15%;
    background-color: gray;
    height: 100%;
}

.row1::after {
    content: "";
    clear: both;
    display: table;
}

.row2::after {
    content: "";
    clear: both;
    display: table;
}
.newAdd{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.712);;
    height: 100%;
}
.close{
    z-index: 2;
    position: absolute;
    right: 30%;
    top: 18%;
    
}
.hidden{
    display: none;
}
a{
    text-decoration: none;
}
@media only screen and (max-width: 850px) {
    .con {  
    padding: 25px 5%;
    }
  }